{{ define "main" }}
<div class="hero tall">
  <div class="container">
    <h1>{{ i18n "home_hero_title" | safeHTML }}</h1>
	<img src="images/capcoop_badge3_forweb2.svg" style="width: 55vw; padding-bottom: 1.5em;">
    <!--<div class="buttons flex">
      <div class="flex1 tar mr1m">
        <a class="dib" href="{{ "getting-started/" | relLangURL }}" id="getting-started-button">{{ i18n "home_hero_getting_started" | safeHTML }}</a>
      </div>
      <div class="flex1 tal ml1m">
        <a class="dib" href="{{ "donate/" | relLangURL }}">{{ i18n "home_hero_donate" | safeHTML }}</a>
      </div>
    </div> -->
	<h2>&#9856; Education &#9857; Collaboration &#9858; Advocacy &#9859; Outreach &#9860; Mentoring &#9861;</h2>
	{{ if and (isset .Site.Params "next_meetup_date") (isset .Site.Params "next_meetup_location") }}<h2 class="nextmeetup" id="nextmeetupinfo">Next Meetup is {{ dateFormat $.Site.Params.time_format_next_meetup .Site.Params.next_meetup_date }} at {{ dateFormat $.Site.Params.time_format_next_meetup_time .Site.Params.next_meetup_time }}, at {{ .Site.Params.next_meetup_location }} <a href="{{ .Site.Params.next_meetup_location_map }}" target="_blank">&#128665;</a></h2>{{ end }}
  </div>
</div>
<div class="page-content">
  <div class="wrapper">
    <div class="">
      <div class="pure-g home">
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="grid-container">
            <h2 class="through-line"><a href="{{ "blog/" | relLangURL }}">{{ i18n "home_from_our_blog" }}</a></h2>
              <ul class="post-list">
                {{ $posts := where .Site.RegularPages "Type" "in" (slice "post") | first 3 }}
                {{ range $posts }}
                  <li>
                    <span class="post-meta">{{ .Date.Format $.Site.Params.time_format_default }}</span>
                    <h2>
                      <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h2>
                    {{ with .Params.excerpt }}
                      {{ . | markdownify }}
                    {{ else }}
                      {{ .Summary }}
                    {{ end }}
                    <p><a href="{{ .Permalink }}">{{ i18n "read_more" }}</a></p>
                  </li>
                {{ end }}
              </ul>
              {{ with .OutputFormats.Get "RSS" -}}
                <p class="rss-subscribe">{{ i18n "subscribe_rss" . | safeHTML }}</p>
              {{ end  }}
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class='grid-container'>
            <h2 class="through-line"><a href="{{ "sponsors/" | relLangURL }}">{{ i18n "home_major_sponsors" }}</a></h2>
            <div class="text-center">
              <a href="https://www.mirage.com/"><img class="clogo" src="/images/casinos/photoscape/mirage.png" alt="The Mirage"></a>
              <a href="https://www.palms.com/"><img class="clogo" src="/images/casinos/photoscape/palms.png" alt="Palms"></a>
              <a href="https://www.igt.com/"><img class="clogo" src="/images/casinos/photoscape/igt.png" alt="IGT"></a>
			  <a href="http://cfnine.com/"><img class="clogo" src="/images/casinos/photoscape/cfnine_text.svg" alt="Centerfield Nine"></a>
              <a href="https://www.oracle.com/"><img class="clogo" src="/images/casinos/photoscape/oracle.png" alt="Oracle"></a>
              <a href="https://www.hardrockhotel.com/"><img class="clogo" src="/images/casinos/photoscape/hard-rock.png" alt="Hard Rock Casino"></a>
              <a href="https://www.venetian.com/" rel="nofollow"><img class="clogo" src="/images/casinos/photoscape/venetian.png" alt="Venetian"></a>
              <a href="https://www.williamhill.us/"><img class="clogo" src="/images/casinos/photoscape/william-hill.png" alt="William Hill"></a>
              <!--<a href="https://www.westgateresorts.com/hotels/nevada/las-vegas/westgate-las-vegas-resort-casino/"><img class="clogo" src="/images/casinos/photoscape/westgate.png" alt="Westgate"></a>-->
			  <a href="https://www.pnk.com/"><img class="clogo" src="/images/casinos/photoscape/pinnacle.png" alt="Pinnacle Entertainment"></a>
			  <a href="https://www.caesarspalace.com/"><img class="clogo" src="/images/casinos/photoscape/caesars-palace.png" alt="Caesars Palace"></a>
              <a href="https://www.goldennugget.com/las-vegas/"><img class="clogo" src="/images/casinos/photoscape/golden-nugget.png" alt="Golden Nugget"></a>
			  <br />and many more!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}